Package: firmware-amd-graphics-extra
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Depends: git
Maintainer: omarhanykasban <omarhanykasban706@gmail.com>
Description: firmware-amd-graphics-extra.
