Package: steavensettings
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Depends: git
Maintainer: omarhanykasban <omarhanykasban706@gmail.com>
Description: Steavensettings contains various configuration scripts for Linux.
